#owl-demo {
    display: block;
    position: relative;
    margin-top: 0px;
    margin-bottom: 20px;
    top:1%;
    left:5%;
    width: 88%;
    /*right: 10%;*/
    height: 50%;
    border-radius: 20px;
    background-color: black;
}

#movies_div{
    /*display: block;*/
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    /*top:20%;*/
    left:5%;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    background-color: black;
}

.btn-default{
    direction: rtl;
}


#movies_buttons button{
    float: right;
    margin-right: 10px;
    font-size: 13px;
    background-color: black;
    border:none;
    color: grey;
    border-radius: 0;
}

#movies_buttons button:hover{
    filter:brightness(80%);
    color: blue;
}

/*.item div{*/
    /*position: absolute;*/
    /*width: 80px;*/
    /*height: 50px;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*font-size: 30px;*/
    /*background-color: red;*/
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*right: 20px;*/
    /*background-color: black;*/
    /*color: white;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
/*}*/

#movies_buttons{
    position: relative;
    margin-top: 20px;
    /*margin-bottom: 0px;*/
    left:5%;
    width: 90%;
    /*margin-left: 10%px;*/
    border-radius: 20px;
    /*background-color: red;*/
}

.item div{
    display: block;
    top:0px;
    height: 260px;
    margin: 10px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}

.jumbotron.hero-nature{
    color:red;
    text-align:center;
    background:url('../img/chicago.jpg');
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
}

.item div:hover{
    filter:brightness(30%);
}


.slider-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255 , 255 , 255 , .60);
}

.slider-text {
    width: 100%;
    height: 100%;
    padding: 275px 0 0 0;
}

.slider-text p{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider-caption-heder{
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.slider-caption-heder h1 {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 10px;
}
.slider-caption-heder h1 span {color: #A78E6C;}

#owl-demo .item{
    /*background: #3fbf79;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*position: relative;*/
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: 0%;
    /*top : 10%;*/
    /*margin-top: 40%;*/
    width: 96%;
    position: relative;
    text-align: center;
    font-family: Arial;
    color: white;
}




.item_image{
    position: relative;
    left: 100px;
    top:0;
    width: 70%;
    height: 10px;
}

/*.carousel-inner{*/
    /*background-color: red;*/
/*}*/

.films{
    position: absolute;
    left: 10%;
    top : 20%;
    width: 80%;
    height: 60%;
    background-color: red;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li div{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li select{
    /*display: inline-block;*/
    color: black;
    text-align: center;
    position:relative;
    width: 100%;
    padding: 0px 0px;
    margin: 0 0 5px 10px;
    text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: darkred;
    color: white;
    text-decoration: none;
}




li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


body{
    position: relative;
    height: 100%;
}

#main_div{
    position: fixed; left: 0% ; right: 0%;
    overflow-y: scroll;
    overflow-x: scroll;
    resize: both;
    height: 100%;
}

div::-webkit-scrollbar{
    display: none;
}

#div_1{
    position: relative;
    left: 10%;
    width: 80%;
    /*height: 10%;*/
}

#search{
    position: absolute;
    top: 1%;
    background-color: red;
}

#search_icon{
    filter: brightness(95%);
    margin-top:10px;
    width: 80px;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat:   no-repeat;
}


.navigation_bar{
    background-color: whitesmoke;
    position: relative;
    margin-top: 20px;
    /*width :100%;*/
    /*height: 5%;*/
}

#description1{
    /*left: 10%;*/
    direction: rtl;
    font-size: large;
    /*margin-right: 10%;*/
    /*margin-left: 10%;*/
}


.div_2{
    background-color: whitesmoke;
    position: relative; left: 0%;right: 0%;
    height: 5%;
}

#linkpics{
    width: 100px;
    height: 50px;
    /*max-height: 100%;*/
    /*max-width: 100%;*/
}

/*.col-lg-6{*/
    /*left: 10px;*/
/*}*/

.row .col-lg-1{
    width: 80px;
    height: 50px;
    margin-left: 0px;
}


/*#imdb_image{*/
    /*background:transparent url('../img/imdb_.jpg') no-repeat center center /cover*/


/*}*/

/*.row{*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*left: 10px;*/
    /*right: 10px;*/
/*}*/

.div_3{
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    position: relative; top: 20px;
    left: 10%;
    width: 80%;
    /*right: 10%;*/
    /*width: 100%;*/
    /*height: 70%;*/
    /*background-color: red;*/
}

.main_page_info{
    position: relative;
    top : 20px;
    left: 0%;
    width: 100%;
    background-color: blue;
}

#imdb_image{
    position: relative; top: 0%;
    /*left: 0%;*/
    /*width: 100%;*/
    height: 80%;

    /*background-color
    : yellow;*/
    background:transparent url('../img/imdb_.jpg') no-repeat center center /cover;

    /*filter:blur(1px);*/
}


#scroll_down{
    position: relative; top: -50%;
    left: 30%;
    width: 40%;
    height: 30%;
}

/*#description1{*/
    /*position: absolute; top: 0px;*/
    /*left: 20%;*/
    /*right: 40%;*/
    /*height: 10px;*/
    /*background-color: white;*/
    /*border:none;*/
    /*border-color: darkcyan;*/
    /*border-width: 2px;*/
    /*text-align: right;*/
/*}*/
#description2{
    /*margin-left: 100px;*/
    direction: rtl;
    /*padding-right: 50px;*/
    font-size: large;
    color: blue;
}

#twitter{
    position: absolute; top: 76%;
    left: 65%;
    /*right: 5%;*/
    width: 4%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    /*filter:brightness();*/
}

#insta{
    position: absolute; top: 76%;
    left: 70%;
    width: 4%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

#tele{
    position: absolute; top: 76%;
    left: 75%;
    width: 4%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
#google{
    position: absolute; top: 76%;
    left: 80%;
    width: 4%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}


#search_icon:active{
    /*border:solid;*/
    filter: brightness(80%);
    /*border-color: darkgray;*/
    /*border-width: 1px;*/
}

#search_input{
    border: none;
    background-color: whitesmoke;
    margin-top:10px;
    height: 50px;
    border: none;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#search_input:focus{
    border:solid;
    border-width: 1px;
    border-color: darkgrey;
    filter:brightness(97%);
}


#blue_icon{
    margin-top:10px;
    width:80px;
    height: 50px
    border-radius: 10px;
}

.login{
    background-color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    padding: 6px 15px;
    text-decoration: none;
    position: absolute;
    left:75%;
    top:20%;
}


#login_button{
    border: solid;
    border-color: blue;
    color:blue;
    margin-top:11px;
    width:180px;
    height: 48px;
    border-radius: 10px;
}
#login_button:active{
    filter: brightness(90%);
}


.w3-light-grey{
    color:#000!important;
    background-color:#f1f1f1!important
}
.w3-bar{
    width:100%;
    overflow:hidden;
    position: relative;
    left: 0%;right: 0%;
    height: 5%;
}
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block;z-index:1}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.w3-check,.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}

.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}

/*#w3-button:hover {*/
    /*color:#000!important;*/
    /*background-color:#ccc!important*/
/*}*/