*{
    text-decoration: none;
    font-family:"Arabic Typesetting", serif;
}

*:focus{
    outline: 0 !important;

}

.radio-inline{
    color: grey;
    /*font-weight: ;*/
}


body div{
    position: fixed; left: 0% ; right: 0%;
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    resize: both;
    height: 100%;
    background-color: white;
}

.options button{
    float: right;
    margin: 0px;
    font-size: medium;
}

.options .all_upper_tab{
    right: 10%;
    width: 80%;
}


form label{
    float: right;
    margin-right: 5px;
    /*color:#204d74;*/
}


.form-check-label{
    color: black;
    margin-right: 5px;
}


.text_comment textarea{
    border: none;
    overflow: hidden;
    resize:none;
}

.text_comment button{
    border-radius: 30px;
    /*margin-top: 0px;*/
}

.text_comment button:hover{
    filter:brightness(80%);
}

.cm_area{
    white-space: pre-wrap;width:100%;direction: rtl;color:black;
}

.text_comment{
    border: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 10px;
}

.rating{
    color: blue;
}

.profile_pic input{
    margin-top:0px;
    margin-right: 30px;
    border-radius: 50px;
    border: solid;
    border-width: 1px;
    border-color: grey;
    width: 80px;
    height: 80px;
}

.profile_pic{
    /*top: 10px;*/
    /*width: 50px;*/
    /*margin-left: 3px;*/
    /*width: 80px;*/
    height: 110px;
    /*background-color: red;*/
    color: blue;
}

.comment_rates_right{
    /*background-color: yellow;*/
    /*height: 130px;*/
    /*color:blue;*/
    top: 10px;
}

.comments_rates{
    margin-top: 20px;
    border: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 4px;
    color:red;
}

.save_comment{
    float: left;  margin-left: 10px; background-color: seagreen;color:white;margin-top: 5px;margin-bottom: 40px;
    border-radius: 15px;
}

.save_comment button{
    background-color: seagreen;color:white;
}

.emoji_selector{
    color: red;float: left;border: none;margin-bottom: 2px;
}



.comment_tab{
    color: black;
    text-align: center;
    right: 10%;
    width: 80%;

}

div::-webkit-scrollbar{
    display: none;
}

.movie_info div{
    /*padding-right: 5%;*/
    margin-right: 0%;
    position: relative;
    left: 0%;
    /*background: none;*/
    direction: rtl;
    font-size: medium;
    margin-top: 10px;
    color: whitesmoke;
    height: auto;
}


#left_pannel{
    position:relative;
    margin-right:26%;
    margin-top:0%;
    height: 99%;
    color: whitesmoke;
    background: none;
}

#left_pannel div,hr{
    margin-left: 20%;
    /*overflow-x: hidden;*/
}

.upper_tab {
    /*display: inline-block;*/
    color: #222222;
    text-align: center;
    border:transparent;
    background-color: transparent;
    border-bottom: solid;
    border-width: 2px;
    font-size: large;
    border-bottom-color: lightgrey;
    background-color: white;
    text-decoration: dashed;
    padding: 14px 0px;
    /*width: 10%;*/
}

.upper_tab:hover {
    text-decoration: none;
    color:darkslategray;
    border-bottom-color: darkslategray;
}



#film_icon{
    position:absolute;
    top: 0%;
    right: 5%;
    width: 20%;
    height: 70%;
    background-color: red;
}


#left_pannel *{
    background: none;
    font-size: small;

    /*top: 20;*/
    /*margin-top: 4px;*/
}

#left_pannel button{
    border-radius: 5px;
}

#time_country label{
    border: none;
    margin-right: 30px;
    font-size: small;
}

#director *{
    border:none;
    direction: ltr;
    font-size: small;
}

#stars *{
    border:none;
    direction: ltr;
    font-size: small;
}


#writer *{
    border:none;
    direction: ltr;
    font-size: small;
}

.movie_info{
    position: relative;
    /*left: 10%;*/
    width: 100%;
    top: 10%;
    height: 80%;
    background-color: darkorange;
}

.movie_info img{
    /*position: relative;*/
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    /*margin-bottom: 100px;*/
    width: 250px;
    height: 60%;
    /*height: auto;*/
}

#movies_genres button{
    /*float: right;*/
    margin-right: 10px;
    background-color: lightgrey;
    border:solid;
    color: darkslateblue;
    /*width: 80px;*/
    /*height: 40px;*/
    border-radius: 6px;
    margin-top: 3px;
    font-size: small;
}


#movies_genres{
    width: 90%;
    margin-right: 5%;
}

.film_info{
    position: relative;
    direction: ltr;
    left: 10%;
    top: 0%;
    width: 70%;
    height: 300px;
    text-align: left;
    background-color: blue;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat:   no-repeat;
}

#background{
    position: absolute;
    width: 100%;
    height: 95%;
    top: 4%;
}

.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: blue;
}


.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: blue;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    font-size: small;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}

.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}

.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}

.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
/*.range.range-warning input[type="range"]::-moz-slider-thumb {*/
    /*background-color: rgb(240, 173, 78);*/
/*}*/
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
/*.range.range-danger input[type="range"]::-moz-slider-thumb {*/
    /*background-color: rgb(217, 83, 79);*/
/*}*/
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}




#ex1Slider .slider-selection {
    background: #BABABA;
}









