button:focus{
    outline: 0 !important;
    border-bottom-color: dodgerblue;
    border-left-color: dodgerblue;
    color: dodgerblue;
}

.profile_state{
    background-color: white;

}

.right_tab{
    display: inline-block;
    color: darkgray;
    text-align: center;
    border:transparent;
    background-color: white;
    border-left: solid;
    border-width: 2px;
    border-left-color: lightgrey;
    text-decoration: dashed;
    padding: 20px 20px;
    margin-top: 0;
}

.upper_tab {
    display: inline-block;
    color: darkgray;
    text-align: center;
    border:transparent;
    background-color: white;
    border-bottom: solid;
    border-width: 2px;
    border-bottom-color: lightgrey;
    text-decoration: dashed;
    padding: 14px 0px;
}

article button:hover{
    color: black;
    border-left-color: #122b40;
}

article button:focus{
    color: dodgerblue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header_label{
    border-bottom: solid;
    border-bottom-color:darkgray;
    border-width: 2px;
    margin-top: 30px;
}


.update_info{
    float:right;
    background-color: mediumseagreen;
    color: white;
    border: mediumseagreen;
}

article button{
   margin-top: 25px;
   float: right;
    color: darkgray;
    border: none;

}

article label, div label{
    color: darkgray;
}

form *{
    /*float: right;*/
    direction: rtl;
}

.upper_tab:hover {
    text-decoration: none;
    color:darkslategray;
    border-bottom-color: darkslategray;
}



